/* color palette from <https://github.com/vuejs/theme> */
:root {

  --drum-background: #282828;
  --drum-background-second: #222222;
  --drum-background-third: #575757;
  --drum-font: #ffffff;

  --pad-xs-size: 5px;
  --pad-sm-size: 10px;
  --pad-md-size: 25px;
  --pad-lg-size: 50px;
  --pad-xl-size: 100px;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

@media (max-width: 576px) {
  .pad{
    width: var(--pad-xs-size);
  }
}

@media (max-width: 768px) {
  .pad{
    width: var(--pad-sm-size);
  }
}

@media (max-width: 992px) {
  .pad{
    width: var(--pad-ms-size);
  }
}

@media (max-width: 1366px) {
  .pad{
    width: var(--pad-lg-size);
  }
}

@media (min-width: 1400px) {
  .pad{
    width: var(--pad-xl-size);
  }
}




html {
  height: 100%;
}

body {

  background: var(--drum-background);
  justify-content: center;
}

.header{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-family: fantasy;
  height: 3em;
  padding-left: 1em;
  background: var(--drum-background-second);
  color: var(--drum-font);
}

.controls{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: fantasy;
  height: 3em;
  padding-left: 1em;
  background: var(--drum-background-second);
  color: var(--drum-font);
}

.slidecontainer {
  margin-right: 1em;
  width: 20%;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 1px;
  background: #222222;
  box-shadow: inset 5px 5px 10px #0e0e0e,
              inset -5px -5px 10px #363636;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow:  1px 1px 1px #666666,
              0px 0px 1px #ffffff;
  cursor: pointer;
}

.pad_container {
  display: grid;
  grid-template-columns: (16, 1fr);
  grid-template-rows: (1, 1fr);
}

.pad_column {
  display: block;
}

.pad {
  background: var(--pad-background);
  border-radius: 10%;
  aspect-ratio: 1/1;
  margin: 2px;
}

.btn {
  margin-right: 1em;
  border-radius: 20px;
  background: #222222;
  justify-content: center;
  box-shadow:  5px 5px 10px #1b1b1b,
              -5px -5px 10px #292929;
  color: var(--drum-font);
}

.display_temp {
  width: 3em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 1px;
  background: #222222;
  box-shadow: inset 5px 5px 10px #0e0e0e,
              inset -5px -5px 10px #363636;
  color: var(--drum-font);
}